@page
@model DrawAndGuessV3.Pages.GameModel
@{
    if (HttpContext.Session.GetString("name") == null)
    {
        Response.Redirect("/");
    }

    ViewData["Title"] = "Game";
}
<div id="hero2" class="grid-container">
    <p hidden id="name">@HttpContext.Session.GetString("name")</p>
    <div id='bodybox2'>
        <div id='chatborder2'>
        <p style="color:white; font-size:15px; text-align:center">Remains: <span id="time">60</span> sec</p><hr>
        <ol id="players">
            @* <li style="color:white; font-size: 15px;">Anton Nitsiportsik<li>
            <li style="color:white; font-size: 15px;">Anton Nitsiportsik<li>
            <li style="color:white; font-size: 15px;">Anton Nitsiportsik<li>
            <li style="color:white; font-size: 15px;">Anton Nitsiportsik<li>
            <li style="color:white; font-size: 15px;">Anton Nitsiportsik<li>
            <li style="color:white; font-size: 15px;">Anton Nitsiportsik<li>
            <li style="color:white; font-size: 15px;">Anton Nitsiportsik<li>
            <li style="color:white; font-size: 15px;">Anton Nitsiportsik<li> *@
        </ol>
        </div>
    </div>
    <div class="paintbox">
        <div>
            <input type="color" id="color" class="colorbtn" value="#000000" />
            <input type="button" id="clear" class="btn-primary clearbtn" value="Clear" />
        </div>
        <div>
            <canvas id="draw-canvas" height="584" width="800"></canvas>
        </div>
    </div>
    <div id='bodybox'>
        <div id='chatborder'>
          <p id="chatlog13" class="chatlog">&nbsp;</p>
          <p id="chatlog12" class="chatlog">&nbsp;</p>
          <p id="chatlog11" class="chatlog">&nbsp;</p>
          <p id="chatlog10" class="chatlog">&nbsp;</p>
          <p id="chatlog9" class="chatlog">&nbsp;</p>
          <p id="chatlog8" class="chatlog">&nbsp;</p>
          <p id="chatlog7" class="chatlog">&nbsp;</p>
          <p id="chatlog6" class="chatlog">&nbsp;</p>
          <p id="chatlog5" class="chatlog">&nbsp;</p>
          <p id="chatlog4" class="chatlog">&nbsp;</p>
          <p id="chatlog3" class="chatlog">&nbsp;</p>
          <p id="chatlog2" class="chatlog">&nbsp;</p>
          <p id="chatlog1" class="chatlog">&nbsp;</p>
          
          <input type="text" name="chat" id="chatbox" placeholder="Type your guess here..." maxlength="20"
            onfocus="placeHolder()">  
        </div>
    </div>
</div>

<script src="https://unpkg.com/@@aspnet/signalr@@1.0.0/dist/browser/signalr.js"></script>
<script src="js/draw.js"></script>
<script src="js/chat.js"></script>
<script src="js/user.js"></script>