@page
@model DrawAndGuessV3.Pages.GameModel
@using DrawAndGuessV3.Modules
@{
    ViewData["Title"] = "Game";
}

<style>
    #draw-canvas {
        background-color: #ddd;
    }
</style>

<div class="conainer">
    <div class="row">
        <div class="col">
            <div>
                <input type="color" id="color" value="#000000" />
                <input type="button" id="clear" value="Clear" />
            </div>
            <div>
                <canvas id="draw-canvas" height="500" width="800"></canvas>
            </div>
        </div>
        <div class="col">
            <h1>
                Chat
            </h1>
            <div class="container">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-2">User</div>
                    <div class="col-4">
                        <p id="name">@HttpContext.Session.GetString("name")</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">Message</div>
                    <div class="col-4"><input type="text" id="messageInput" /></div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-6">
                        <input type="button" id="sendButton" value="Send Message" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <ul id="userList"></ul>
                </div>
            </div>
            <input id="hdId" type="hidden" />
        </div>
    </div>
</div>




<script src="https://unpkg.com/@@aspnet/signalr@@1.0.0/dist/browser/signalr.js"></script>
<script src="js/draw.js"></script>
<script src="js/chat.js"></script>
<script src="js/user.js"></script>